# for pip

# pip can't install the dependencies from pyproject.toml
# when changing this file also consider `pyproject.toml` and `environment.yml`

gracefulkiller~=0.4
mausy5043-common==1.10.1
python-homewizard-energy~=7.0
sh~=2.1
zeroconf~=0.136
